/* links reset */
.tab-link:link,
.tab-link:visited {
  text-decoration: none;
  transition: none;
}

.tab-link:hover,
.tab-link:active {
  background: var(--snowwhite);
  -webkit-background-clip: border-box;
  -webkit-text-fill-color: currentColor;
  background-clip: border-box;
  text-fill-color: currentColor;
  transform: none;
}

.gradient-text {
  font-weight: 700;
}

.div1 {
  padding-top: 50px;
  position: relative;
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  justify-items: center;
  align-items: flex-start;
}

.back-btn {
  position: absolute;
  top: 90px;
  left: 170px;
}

.back-icon {
  width: 50px;
}

/* ----- No Session ------ */
.notice {
  color: var(--transgray);
  position: absolute;
  top: 150px;
  left: 600px;
}

.no-session {
  min-height: 100vh;
  margin-top: -150px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

/* ----------------------- */

.people {
  margin-bottom: 50px;
}

.tab {
  height: 70px;
  background-color: var(--darkgray);
  border-radius: 50px 50px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab-link {
  width: 100%;
  margin-top: 60px;
}

.highlight-text {
  color: var(--palepink);
}

.close-tab {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

/* Task Cards */

.task {
  margin-top: 60px;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 80px;
  justify-content: center;
}

.task a {
  background: rgba(0, 0, 0, 0);
  -webkit-background-clip: border-box;
  -webkit-text-fill-color: currentColor;
  background-clip: border-box;
  text-fill-color: currentColor;
}

.left-grid {
  grid-row: 1/-10;
  display: grid;
  row-gap: 30px;
}

.view-admin {
  width: 380px;
  height: 320px;
}

.view-user {
  width: 380px;
  height: 320px;
}

.member {
  width: 380px;
  height: 320px;
  background-color: var(--darkgray);
  border-radius: 20px 50px;
  padding: 30px;
  display: grid;
  align-items: center;
  justify-content: center;
}

.member figure {
  width: 255px;
  height: 165px;
  background-color: var(--palepink);
  border-radius: 20px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.support-text,
.category-text p {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: var(--transgray);
}

.view-more p {
  margin: 0;
}

.view-more {
  margin-top: 20px;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

/* Categories */
.event-heading {
  font-size: 32px;
  text-align: center;
  margin-bottom: 30px;
}

.category-box {
  width: 470px;
  height: 120px;
  margin-bottom: 30px;
}

.category {
  width: 470px;
  height: 120px;
  background-color: var(--darkgray);
  border-radius: 20px 50px;
  padding: 0 40px 0 40px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 30px;
  align-items: center;
}

.category-text {
  display: flex;
  justify-content: space-between;
}

.category-text p {
  margin: 0;
}

.category figure {
  width: 110px;
  height: 70px;
  background-color: var(--palepink);
  border-radius: 8.77265px 21.9316px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.small-detail {
  font-size: 12px;
  display: flex;
}

.add-category {
  width: 470px;
  height: 120px;
  border: 5px solid var(--darkgray);
  border-radius: 20px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-category p {
  color: var(--darkgray);
  margin-left: 30px;
  position: relative;
  top: -12px;
}

/* --------------- */

.search-result {
  font-size: 24px;
  color: var(--darkgray);
}

.hr-margin {
  margin-bottom: 30px;
}

.table {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 100px;
  border: 5px solid var(--darkgray);
  border-radius: 20px 50px;
}

.table-search {
  padding: 20px 0;
  display: flex;
  grid-template-columns: 75px 200px 200px;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.search-btn {
  padding: 12px 30px;
  flex-basis: 200px;
}

.find-field {
  height: 50px;
  background-color: rgba(0, 0, 0, 0);
  border: 3px solid var(--transgray);
}

.find-field:focus {
  border: 3px solid var(--darkgray);
}

input[type="image"] {
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
}

input[type="submit"] {
  font-weight: 700;
  height: 50px;
  border-radius: 9.69697px 24.2424px;
  padding: 0;
  margin: 0;
}

table {
  font-size: 20px;
  margin: 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

th,
td {
  height: 30px;
  padding: 10px;
}

tr:not(:first-child):not(:last-child):hover {
  background-color: var(--palepink);
}

th {
  font-weight: bolder;
  text-align: start;
  background-color: rgb(24, 24, 27, 0.3);
}

td {
  height: 30px;
  text-align: start;
}

th:first-child {
  border-radius: 20px 0 0 0;
}

th:last-child {
  border-radius: 0 50px 0 0;
}

.light {
  background-color: rgb(82, 82, 82, 0.2);
}

.dark {
  background-color: rgb(163, 163, 163, 0.2);
}

.total-row {
  background-color: rgb(24, 24, 27, 0.3);
  text-align: center;
  border-radius: 0 0 20px 50px;
}

.border-below {
  width: 100%;
  height: 70px;
  background-color: var(--darkgray);
  border-radius: 0 0 50px 50px;
  margin-bottom: 100px;
}

.border-task {
  width: 100%;
  height: 70px;
  background-color: var(--darkgray);
  border-radius: 0 0 50px 50px;
  margin-top: 60px;
  margin-bottom: 100px;
}

.id-col {
  width: 150px;
  text-align: center;
}

.user-col {
  width: 200px;
}

.email-col {
  width: 300px;
}

.phone-col {
  width: 150px;
}

.edit-col {
  width: 130px;
  text-align: center;
}

.edit-btn {
  -webkit-background-clip: border-box;
  -webkit-text-fill-color: currentColor;
  background-clip: border-box;
  text-fill-color: currentColor;
  transform: none;
}

/* Delete Syling */
.del-col {
  width: 150px;
  text-align: center;
}

.del-btn {
  width: 80%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  border: 3px solid rgb(24, 24, 27, 0.3);
  border-radius: 20px;
  padding: 3px 20px;
}

.del-btn:hover {
  background-color: rgb(24, 24, 27, 0.3);
}

td:last-child,
td:nth-last-child(2) {
  text-align: center;
}

.del-box {
  transition: all 0.5s;
}

.del-box .del-btn {
  position: relative;
  transition: 0.5s;
}

.del-box .del-btn:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: 10px;
  transition: 0.5s;
}

.del-box:hover .del-btn {
  padding-right: 30px;
}

.del-box:hover .del-btn:after {
  opacity: 1;
  right: 10px;
}

/* ----------------------------------------- */

.user-edit {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 100px;
}

/* ----------------------------------------- */

.joined-event {
  margin: auto 0;
  display: grid;
  grid-template-columns: 250px auto 120px;
  row-gap: 20px;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.user-margin {
  margin: 30px 0;
}

.event-main-text {
  font-size: 32px;
  text-align: center;
  margin-bottom: 30px;
  grid-column: 1 / -1;
}

.event-category-text {
  font-size: 24px;
  text-align: center;
  margin-top: -20px;
  margin-bottom: 30px;
  grid-column: 1 / -1;
}

.event-text {
  width: 100%;
  font-size: 22px;
  font-weight: 400;
  text-transform: capitalize;
  text-align: center;
  background-color: var(--darkgray);
  padding: 20px 50px;
  border-radius: 20px 50px;
  grid-column: 1 / -3;
}

.no-event {
  grid-column: 1 / -1;
}

.browse {
  grid-column: 1 / -1;
}

.browse:hover,
.browse:active {
  background: var(--smokyblack);
  -webkit-background-clip: border-box;
  -webkit-text-fill-color: currentColor;
  background-clip: border-box;
  text-fill-color: currentColor;
  transform: none;
}

.vertical-div {
  height: 40px;
  border-left: 2px solid var(--darkgray);
  margin: 0 50px;
  grid-column: 2 / -2;
}

/* ----------------------------------------- */

.edit-table {
  width: 100%;
  margin: 60px 0 60px 0;
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 50px;
  row-gap: 20px;
  align-items: center;
  justify-content: center;
}

input,
select,
.edit-table textarea {
  font-size: 22px;
  background-color: rgb(82, 82, 82, 0.2);
  border: none;
  border-radius: 9.69697px 24.2424px;
  padding: 12px 30px;
  margin: 8px 0;
}

input[type="submit"] {
  width: 100%;
  border: 3px solid var(--transgray);
  grid-column: 1 / -1;
}

h6 {
  font-size: 22px;
}

hr {
  width: 100%;
  grid-column: 1 / -1;
}
